<div class="container">
  <div class="row" style="margin-top:30px">
    <button class="btn btn-primary" ng-click="startreview()">Start reviewing</button>
  </div>
  <div class="row" style="margin-top:10px">
    <h4>
      Not sampled yet:
    </h4>
  </div>
  <div class="row">
    <div class="list-group">
      <a class="list-group-item" ng-repeat="beer in notSampled" ng-click="reviewThis(beer.beerId)">{{ beer.beerName }}<span class="badge">I want to review this</span></a>
    </div>
  </div>
</div>
