<div class="container-fluid">
  <div class="row" style="margin-left:10px">
    <h3>My Beers:</h3>
  </div>
  <div class="row" style="margin-left:10px; margin-right:10px;">

    <table class="table table-hover">
      <thead>
        <tr>
          <th ng-click="sortBy('beerName')"><span style="color:blue">Name  <span style="font-size:70%">Click to sort by</span></span></th>
          <th ng-click="sortBy('score')"><span style="color:blue">Rating (1 - 10)  <span style="font-size:70%">Click to sort by</span></span></th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="beer in beers | orderBy:sortOrder track by $index">
          <td>{{ beer.beerName }}</td>
          <td>{{ beer.score }}</td>
          <td>{{ beer.comment }}</td>
          <td><button class="btn btn-sm btn-danger" ng-click="deleteRating(beer._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
